{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <h1 class="p-3">Demystifying Django with <span class="ci-orange">Django X-ray</span></h1>
    </div>
</div>
<div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <h2 class="p-3">Django is a complex framework.</h2>
        <p class="main-page-statement m-3">
            However when you break it down into piecemeal concepts, you'll find that there is a pattern...
        </p>
        <p class="m-3">... and this pattern repeats itself.</p>
    </div>
</div>
<div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <h2 class="p-3">Lets get started!</h2>
        <a class="nav-link active btn p-2 info main-content-buttons m-2" aria-current="page" href="{% url 'django_basics' %}">Django Basics</a>
    </div>
</div>


{% endblock %}