{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <h1>Demystifying Django</h1>
        <p>
            With Django X-ray
        </p>
    </div>
</div>
<div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <p>
            Django is a complex framework. However when you break it down into piecemeal concepts, you'll find that there is a pattern, and this pattern repeats itself.
        </p>
    </div>
</div>
<div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <h2>Lets get started!</h2>
        <a class="nav-link active btn p-2 info main-content-buttons" aria-current="page" href="{% url 'django_basics' %}">Django Basics</a>
    </div>
</div>


{% endblock %}