* {
    -webkit-tap-highlight-color: transparent;
}

nav {
    height: 100%;
}

.ci-orange {
    color:  #E84610;
}

.subtopic-link-wrapper {
    max-width: 100%;
}

.subtopic-link {
    font-size: .8rem;
    position: relative;
    text-decoration: none;
    padding: .6vmin;
    color:rgba(66, 58, 47, 0.9);
    border: 2px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.subtopic-link.active {
    background-color: rgba(255, 228, 196, 1);
    border-left: 2px solid rgba(66, 58, 47, 0.9);
    border-top: 2px solid rgba(66, 58, 47, 0.9);
    border-right: 2px solid rgba(66, 58, 47, 0.9);
    border-top-left-radius: .8vmin;
    border-bottom-left-radius: .8vmin;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateX(18.4vmin);
}

h1, h2 {
    text-align: center;
}

.subtopic-header {
    padding: 1.4vmin;
    border: 1px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
    transition: all .6s ease-in-out;
}

.main-content-buttons.btn.active {
    background-color: #ffe4c499;
    transition: all .3s ease-in-out;
}

.main-content-buttons.btn.active:hover {
    background-color: rgba(66, 58, 47, 0.9);
    color: antiquewhite;
}

.topic-card {
    background-color: rgba(255, 228, 196, 1);
    padding: 2.4vmin;
    margin: 2vmin 0 2vmin 0;
    border: 2px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
}

.topic-card p {
    max-width: 90vw;
}

.edit-btn>i {
    color: antiquewhite;
    height: 100%;
    width: 100%;
}

.main-page-statement {
    width: 50vw;
    text-align: center;
}

@media screen and (min-width: 1300px) {
    .main-page-statement {
        width: 25vw;
    }

    .card-footer {
        margin-bottom: 110px;
    }

    .subtopic-link.active {
        z-index: 1;
        padding-right: 40px;
        border-right: 2px solid transparent;
    }
    
    .subtopic-link.active::before {
        z-index: 1;
        content: '';
        height: 20px;
        width: 2vmin;
        position: absolute;
        right: -3px;
        top: -20px;
        background-color: transparent;
        border-right: 2px solid rgba(66, 58, 47, 0.9);
        border-bottom: 2px solid rgba(66, 58, 47, 0.9);
        border-bottom-right-radius: .8vmin;
        box-shadow: 3.5px 3.5px 0 3.5px rgba(255, 228, 196, 1);
    }

    .subtopic-link.active::after {
        z-index: 1;
        content: '';
        height: 20px;
        width: 2vmin;
        position: absolute;
        right: -3px;
        bottom: -20px;
        background-color: transparent;
        border-right: 2px solid rgba(66, 58, 47, 0.9);
        border-top: 2px solid rgba(66, 58, 47, 0.9);
        border-top-right-radius: .8vmin;
        box-shadow: 3.5px -3.5px 0 3.5px rgba(255, 228, 196, 1);
    }
}