* {
    -webkit-tap-highlight-color: transparent;
}

header {
    height: 8vmin;
}

nav {
    height: 100%;
}

.ci-orange {
    color:  #E84610;
}

a {
    text-decoration: none;
    padding: .6vmin;
    margin: .2vmin;
    color:rgba(66, 58, 47, 0.9);
    border: 2px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
}

a .active {
    border-left: 2px solid rgba(66, 58, 47, 0.9);
    border-top: 2px solid rgba(66, 58, 47, 0.9);
    border-right: 2px solid rgba(66, 58, 47, 0.9);
    border-top-left-radius: .8vmin;
    border-top-right-radius: .8vmin;
}

h1, h2 {
    text-align: center;
}

.subtopic-header {
    padding: 1.4vmin;
    border: 1px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
}

.main-content-buttons.btn.active {
    background-color: #ffe4c499;
    transition: all .3s ease-in-out;
}

.main-content-buttons.btn.active:hover {
    background-color: rgba(66, 58, 47, 0.9);
    color: antiquewhite;
}

.topic-card {
    background-color: rgba(255, 228, 196, .6);
    padding: 2.4vmin;
    margin: 2vmin 0 2vmin 0;
    border-radius: 8px;
}

.topic-card p {
    width: 700px;
}

.edit-btn>i {
    color: antiquewhite;
    height: 100%;
    width: 100%;
}

.main-page-statement {
    width: 50vw;
    text-align: center;
}

@media screen and (min-width: 1300px) {
    .main-page-statement {
        width: 25vw;
    }
}