* {
    -webkit-tap-highlight-color: transparent;
}

nav {
    height: 100%;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

.ci-orange {
    color:  #E84610;
}

.code-row {
    text-align: start;
}

.code-block {
    background-color: rgba(41, 35, 35, 0.8);
    color:antiquewhite;
    text-align: start;
    padding: 2vmin;
    border: solid 1px rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
}

.subtopic-link-wrapper {
    max-width: 100%;
    top: 28vh
}

#subtopic-container img {
    border: 1px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#subtopic-container img.zoomed {
    transform: scale(1.2) translateX(-10vmin);
}

.topic-card p,
.topic-card li {
    text-align: start;
}

.subtopic-link {
    font-size: .8rem;
    position: relative;
    text-decoration: none;
    padding: .6vmin;
    color:rgba(66, 58, 47, 0.9);
    border: 2px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.subtopic-link.active {
    background-color: rgba(255, 228, 196, 1);
    border-left: 2px solid rgba(66, 58, 47, 0.9);
    border-top: 2px solid rgba(66, 58, 47, 0.9);
    border-right: 2px solid rgba(66, 58, 47, 0.9);
    border-top-left-radius: .8vmin;
    border-bottom-left-radius: .8vmin;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateX(.8vmin);
}

.subtopic-header {
    padding: 1.4vmin;
    border: 1px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
    transition: all .6s ease-in-out;
}

.main-content-buttons.btn.active {
    background-color: #ffe4c499;
    transition: all .3s ease-in-out;
}

.main-content-buttons.btn.active:hover {
    background-color: rgba(66, 58, 47, 0.9);
    color: antiquewhite;
}

.topic-card {
    background-color: rgba(255, 228, 196, 1);
    padding: 2.4vmin;
    margin: 2vmin 0 2vmin 0;
    border: 2px solid rgba(66, 58, 47, 0.9);
    border-radius: .8vmin;
}

.topic-card p {
    max-width: 90vw;
}

.edit-btn>i {
    color: antiquewhite;
    height: 100%;
    width: 100%;
}

.main-page-statement {
    width: 50vw;
    text-align: center;
}

@media screen and (min-width: 1300px) {
    .main-page-statement {
        width: 25vw;
    }

    .topic-card p {
        max-width: 45vw;
    }
/* 
    .card-footer {
        margin-bottom: 110px;
    } */

    .subtopic-link.active {
        z-index: 2;
        border-right: 2px solid transparent;
    }
    
    .subtopic-link.active.connected::before {
        z-index: 1;
        content: '';
        height: .8vmin;
        width: 2vmin;
        position: absolute;
        right: -3px;
        top: -.8vmin;
        background-color: transparent;
        border-right: 2px solid rgba(66, 58, 47, 0.9);
        border-bottom: 2px solid rgba(66, 58, 47, 0.9);
        border-bottom-right-radius: .8vmin;
        box-shadow: .5px .5px 0 .5px rgba(255, 228, 196, 1);
    }

    .subtopic-link.active.connected::after {
        z-index: 1;
        content: '';
        height: .8vmin;
        width: 2vmin;
        position: absolute;
        right: -3px;
        bottom: -.8vmin;
        background-color: transparent;
        border-right: 2px solid rgba(66, 58, 47, 0.9);
        border-top: 2px solid rgba(66, 58, 47, 0.9);
        border-top-right-radius: .8vmin;
        box-shadow: .5px -.5px 0 .5px rgba(255, 228, 196, 1);
    }
}