{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Edit Topic: {{ topic.subject }}</h1>
            <form action="" method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <div class="flex flex-direction-row">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="{% url 'topic_details' slug=topic.slug %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}